.BuyMVXMVLP {
    background: #231f20;
    justify-content: space-between;
}

.BuyMVXMVLP-container {
    padding: 3rem 0 2rem 0;
    width: 100%;
}

.BuyMVXMVLP-container .section-title-content {
    justify-content: flex-start;
}

@media (max-width: 425px) {
    .BuyMVXMVLP-container {
        padding-left: 16px!important;
        padding-right: 16px!important;
    }
}
.buypage-container-pd{
    padding-left: 16px!important;
    padding-right: 16px!important;
}
